{% extends 'base.html' %} {% block meta %}
<title>Register</title>
{% endblock meta %} {% block content %}

<div class="login">
  <h1 class="font-InterBold text-[28px]">Register</h1>

  <form method="POST">
    {% csrf_token %}

    <div class="flex flex-col gap-4 font-Inter w-[400px] px-4">{{ form }}</div>

    <input
      type="submit"
      name="submit"
      value="Daftar"
      class="p-2 rounded-[10px] text-[12px] bg-purple-600 text-white bg-gradiend hover:bg-[#727bfc] transition-all text-center font-InterBold mt-4 w-36"
    />
  </form>

  {% if messages %}
  <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
</div>

{% endblock content %}
